
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Ysabeau&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ysabeau', sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(rgb(220, 115, 91),rgb(128, 5, 5));
    flex-wrap: wrap;
}

/*container*/
.container{
    background-color: rgba(180, 180, 180, 0.2);
    padding-bottom: 1%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

/*Logo*/
.logo {
    font-family:'Dancing Script', cursive;
    font-size: 3rem;
    display: flex;
    color: transparent;
}
.logo span {
    animation: animate 3s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes animate {
    0%
    {
        color: #fff;
        filter: blur(0.5px) hue-rotate(0deg);
        text-shadow: 0 0 1vw #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff;
    }
    30%,70%
    {
        color: #fff;
        filter: blur(0.5px) hue-rotate(360deg);
        text-shadow: 0 0 1vw #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff;
    }
    100%
    {
        color: transparent;
        box-shadow: none;
        filter: blur(0.5px) hue-rotate(0deg);
    }
}

/*Strapline*/
h1 {
    font-size: 0.5rem;
    color: #fff;
    margin-bottom: -30px;
    margin-left: -18px;
}

/*navbar*/
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
a:hover {
    color: rgb(220, 115, 91);
}
/*header*/
header {
    position: relative;
    padding: 0 2rem;
    background-color: rgb(0, 0, 0, 0.5);
}
.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.action_btn {
    background-color: rgb(161, 70, 49);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action_btn:hover {
    scale: 1.05;
    color: #fff;
}
.action_btn:active {
    scale: 0.95;
}
/*dropdown menu*/
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
    height: 240px;
    z-index: 1000;
}
.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}
/*Contact*/
#contact {
    display:none;
    position:fixed;
    top:20%;
    left:20%;
    width:50%;
    height:auto;
    z-index:9999;
    color: #fff;
    padding: 5%;
    background-color:rgba(40, 0, 0, 0.8);
    border-radius:5px;
}
#contact button {
    width: 100%;
}

/*responsive*/
@media (max-width: 768px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }
    .navbar .toggle_btn {
        display: block;
    }
    .dropdown_menu {
        display: block;
    }
}
@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

/*Notes style*/
#notes {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 10px; 
    color: rgb(50, 50, 50);
}
#notes:hover{
    color: #dadada;
}

/*Model change*/
table {
    margin-top: 10px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
}
img {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.caption {
    display: none;
}
@media (max-width: 767px) {
    td {
        text-align: center;
        width: 33.33%;
        vertical-align: top;
    }
    img {
        width: 100%;
        height: auto;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    table{
        max-width: 240px;
    }
    td {
        display: block;
        height: 33.33%;
        margin-bottom: 10px;
        overflow:auto;
        table-layout: fixed;
      }
    img{
        width: 100%;
        height: auto;
        
    }

}
@media (min-width: 992px) {
    table{
        max-width: 280px;
    }
    td {
        display: block;
        height: 33.33%;
        margin-bottom: 10px;
        overflow:auto;
        table-layout: fixed;
    }
    img {
        width: 100%;
        height: auto;
    }
    .caption {
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
        height: 100%;
        max-height: inherit;
        
    }
    .caption p {
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
        border-radius: 10px;
        overflow: auto;
    }
    .caption p:hover{
        color: black;
    }
    
}

/*Lights Switch*/
.switch {
    width: 30px;
    height: 15px;
    appearance: none;
    background-color:#ff9500;
    border-radius: 15px;
    border: 2px solid rgba(0,0,0,0.15);
    position: relative;
}

.switch::after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 11px;
    width: 11px;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.15s ease-in-out;
}

.switch:checked{
    background-color: #bfbfbf ;
}

.switch:checked::after{
    transform: translateX(15px);
}

/*X3D backgroud color*/
.tdbk {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0 0 10px 10px;
    padding-left: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-around;
}

.range{
    width: 200px;
    height: 15px;
    appearance: none;
    outline: none;
    border-radius: 15px;
}

.range::-webkit-slider-thumb{
    appearance: none;
    width: 13px;
    height: 13px;
    background: #fff;
    border-radius: 50%;
    border: #bfbfbf;
}

#r{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(200,0,0,0.8));
    border: 2px solid rgb(150,0,0);
}
#g{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(0,200,0,0.8));
    border: 2px solid rgb(0,150,0);
}
#b{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(0,0,200,0.8));
    border: 2px solid rgb(0,0,150);
}

/*Lights style*/

#lights, 
#views, 
#spinn, 
#mode {
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin: 1%;
    padding: 2%;
    justify-content: space-evenly;
    align-items: center;
}
button {
    color:white;
    font-size: small;
    text-align: center;
    background-color: black;
    margin: 5px;
    padding: 5px;
    width: 180px;
    border-color: #282828;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
button:hover {
    background-color: rgb(128, 5, 5);
    color: #dadada;
}

/*Picture Preview*/
.preview_container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.preview_container .image{
    object-fit: contain;
    max-width: 80%;
    max-height: 80%;
    min-width: 10%;
    min-height: 10%;
}
#preview{
    margin-top: 5%;
    margin-bottom: 10px;
    padding-top: 10px;
}